/* 
	Title: BGA CSS Flexbox Demo
	Author: Bryan G. Alipar
	Date: March 22, 2018 
*/

@import "base/reset";
@import "base/skeleton";
@import "base/font_awesome";
@import "helpers/variables";
@import "helpers/mixins";
@import "modules/flexbox_grid";
@import "partials/default";
@import "partials/layout";
